@import url('https://fonts.googleapis.com/css2? family= Patua+One & display=swap');

* {
    font-family: 'Patua One', cursiva;
}

body{
    font-family: 'Arvo', serif;
    background-color: #2f4f4f;
}


.city{
    font-size: 32px;
}

.date {
    font-size: 16px;
}

.container-temp{
    display: flex;
    justify-content: center;
    border: solid 5px black;
    cursor: pointer;
    font-size: 100px;
    font-weight: 900;
    text-shadow: 3px 6px rgba(0, 0, 0, 0.2);
    background-color: #daa520;
}

.weather{
    font-size: 32px;
}

.low-high {
    font-size: 22px;
}